<div th:fragment="navbar" class="navbar">

        <a class="navbar-header" href="/home">Praktikanten-Markt</a>
            <ul class="navbar-options">
                <li class="navbar-option">
                    <a  href="/home">Home</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <form id="logoutForm" action="/logout" method="post" >
                        <button type="submit" class="CancelButton">Logout</button>
                    </form>
                </li>
            </ul>
</div>
