<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:if="${error != null && !error.isEmpty()}">
    <script th:inline="javascript">
        const errorMessage = /*[[${error}]]*/ 'Ein unbekannter Fehler ist aufgetreten';
        alert("Ein Fehler ist aufgetreten: " + errorMessage);
    </script>
</div>

<div>
    <!-- Navbar laden -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="page-container" style="align-items: center; display: flex; flex-direction: column">

        <div class="search-container" >
            <div class="search-bar" style="width: 80vw; background-color: grey; border: 1px grey solid; border-radius: 25px; display: flex; flex-direction: row; justify-content: center">
                <label style="margin: 16px">
                    <input placeholder="Current location">
                </label>
                <div class="location-results">
                    <!--Hier mit fetch die daten von Endpunkt: "" laden, sobald User in das Feld Tippt, für jeden Buchstaben (KeyUp) neue anfrage  -->
                </div>
                <label style="margin: 16px">
                    <input placeholder="Radius">
                </label>
                <div class="radius-results">
                    <!--Hier mit fetch die daten von Endpunkt: "" laden, sobald User in das Feld Tippt, für jeden Buchstaben (KeyUp) neue anfrage  -->
                </div>
                <label style="margin: 16px">
                    <input placeholder="Destination">
                </label>
                <div class="destination-results">
                    <!--Hier mit fetch die daten von Endpunkt: "" laden, sobald User in das Feld Tippt, für jeden Buchstaben (KeyUp) neue anfrage -->
                </div>
            </div>
            <div class="search-results">
                <!--Hier mit fetch die daten von Endpunkt: "" laden, sobald Zielort angegeben wurde,
                 können ergebnisse geladen werden,
                 wenn in irgendeinem der felder ein Buchstabe geändert wird muss neu geladen werden per fetch-->
            </div>
        </div>

        <div th:if="${gebuchteFahrten}" class="booked-rides-container">
            <div th:each="${booking : bookings}">
                <div class="card">
                    <div class="card-header">
                        <div class="card-avatar">
                            AB
                        </div>
                        <div>
                            <p>Destination</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${angeboteneFahrten}" class="booked-rides-container">
            <div th:each="${ride : rides}">
                <div class="card">
                    <div class="card-header">
                        <div class="card-avatar">
                            AB
                        </div>
                        <div>
                            <p>Destination</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
