<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

    <div class="profile-container">
        <div>
            <div class="username-container">
            </div>
            <div class="password-container">
            </div>
            <div class="email-container">
            </div>
            <div class="phonenumber-container">
            </div>
        </div>

        <div class="statistics">
            <div class="rides-till-today">

            </div>
            <div>

            </div>
        </div>

    </div>


</body>
</html>